/*FORMULARIO */ 

.form-registerperson{
    width: 800px;
    background: #f4c4f3; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc67fa, #ec6bea);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc67fa, #ec6bea); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 120px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    box-shadow: 7px 13px 37px #000 ;
}

.form-registerperson h4{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.form-registerperson h3{
    font-size: 23px;
    margin-bottom: 30px;
    text-align: center;
}

.form-registerperson h5{
    font-size: 23px;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
}

.controls{
   width: 100%;
   background: #F6C5FF; 
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   border: 1px solid #F700FC;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 17px;
}

.form-registerperson p {
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}

.form-registerperson a {
    color:#525050;
    text-decoration: none;
}

.form-registerperson a:hover{
    color: #fafafa;
    text-decoration: underline;
}

.form-registerperson .botons{
    width: 100%;
    background: #FC30EC ;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
    margin-top: 60px;

}


/*FOOTER*/


footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;  
}

.content-foo h4{
    color:#fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 2px;
}

.content-foo p{
    color:#ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0 ;
    color: #9e979797;
}